// Définition des variables de couleur
$color-primary: rgb(255, 140, 140);
$color-secondary: rgb(0, 0, 0);

.navbar {
  background-color: $color-primary; /* Utilisation de la variable */
  padding: 15px 20px;
  color: $color-secondary; /* Utilisation de la variable */

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container__title {
    color: $color-secondary; /* Utilisation de la variable */
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: lighten($color-primary, 35%);
    }
  }

  &__container__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    &__li {
      margin-left: 150px;

      &__link {
        color: $color-secondary; /* Utilisation de la variable */
        text-decoration: none;
        font-weight: bolder;
        font-size: 1.4rem;

        &:hover {
          color: lighten($color-primary, 15%); /* Utilisation de la variable */
        }
      }
    }
  }
}
