.create-group-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 90%; /* Formulaire à 90% de la largeur de l'écran */
    margin-bottom: 1rem;
    justify-content: space-between; /* Distribution uniforme des éléments */
  }
  
  .create-group-form div {
    display: flex;
    flex-direction: column;
    width: 30%; /* Ajuster pour que chaque élément occupe une proportion de l'espace */
  }
  
  .create-group-form button {
    width: auto; /* Laisser le bouton s'adapter à son contenu */
  }
  
  .ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  .ranking-table th,
  .ranking-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .ranking-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  